@media print {
  @page {
    size: A4;
    margin: 0;
  }
  #buttonVoltar {
    display: none;
  }
  button {
    display: none;
  }
}

#denied {
  margin: 0;
  padding: 0;
  width: 60vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgAss {
  width: 150px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#ordemCompra {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

h1 {
  color: #084d6e; /* Azul Petróleo para o título */
  text-align: center;
  margin-bottom: 10px;
}

hr {
  border: 1px solid #ddd;
  margin: 20px 0;
}

p {
  font-size: 10px;
  margin: 10px 0;
  text-align: justify;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 10px;
  word-break: break-word;
}

th {
  background-color: rgba(8, 78, 110, 0.08); /* Azul Petróleo Fraco para os títulos da tabela */
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  position: relative;
  top: 6px;
  width: 150px;
}

.center-container {
  position: relative;
  left: -5vw;
  flex-grow: 1;
  text-align: center;
}

.info-tudo p {
  margin: -10px 0;
}

.info-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -15px;
}

.info-item {
  flex: 1;
  margin: 0 10px;
  min-width: 200px;
}

.info-item p {
  margin: 10px;
  font-size: 10px;
}

.info-item.full-width {
  flex-basis: 100%;
}

.observation-container {
  border: 1px solid #ddd;
  padding: 0 10px;
}

.assinaturas {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.assinaturas p {
  margin-top: 0px;
  line-height: 5px;
}

.assinatura-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  .info-container {
    flex-direction: column;
  }
  .info-item {
    margin: 10px 0;
  }
}
